.App {

  margin: 10vh 30vw;
  width: 34rem;
  height: 20rem;
  display: flex;
  flex-wrap: wrap;
}

.App div{
  width: 25%;
  height: 3.8rem;
  background: blue;
   border-right:1px solid salmon;
  cursor: pointer;
}

div.red{
  background: red;
}



